body {
	display: flex;
	justify-content: center;
}

.App {
	width: fit-content;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	margin: 8px;
}
h2 {
	margin: 8px;
	padding-bottom: 12px;
}

input[type=text] {
	margin: 8px;
	border: 2px solid;
	padding: 0.5em 0.5em;
	font-size: 1em;
	border-radius: 0.5em;
}

button {
	margin: 8px;
	border: 2px solid;
	padding: 0.5em 0.5em;
	font-size: 1em;
	border-radius: 0.5em;
	color: white;
	border-color: black;
	background-color: blue;
}

button:hover {
	cursor: pointer;
	background-color: navy;
}

.output {
	width: 100%;
	margin: 8px;
	border: 2px solid;
	padding: 0.5em 0.5em;
	font-size: 1em;
	border-radius: 0.5em;
}

.input-zip {
	flex-grow: 1
}

.flex {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.flex-v {
	display: flex;
	flex-direction: column;
	justify-content: center;
}